<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodeSource</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
        <link href="/css/account.scss" rel="stylesheet">
    </head>

<body>

    <nav>

        <h1>CodeSource</h1>


        <div class="navbar">
            <ul>
                <li><a href="#">Events</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Contact</a></li>
                <% if (user) { %>
                    <li><a href="myAccount">My account</a></li>
                    <li><a href="#">Add repository</a></li>
                <% } %>
            </ul>
        </div>

        <% if (!user) { %>
            <button type="button" class="connection" onclick="location.href='/auth/github'">Login with Github</button>
        <% } else { %>
            <h2>Hello, <%= user.displayName %></h2>
        <% } %>
        
    </nav>



<div class="container">
    <div class="card" data-state="#about">
        <div class="card-header">
      <!--     <div class="card-cover" style="background-image: url('https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')"></div> -->
          <img class="card-avatar" src="<%= user.photos[0].value %>" alt="avatar" />

          <h1 class="card-fullname"><%= user.name %></h1>
          <h2 class="card-jobtitle">it's about community.</h2>
        </div>
        <div class="card-main">
           <div class="card-section" id="about">
                <div class="card-content">
                <div class="card-subtitle">ABOUT</div>
                <p class="card-desc"><%= user._json.bio %>
                </p>
                </div>
                <div class="card-social">
                    <a href="<%= user.profileUrl %>">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 .297c-6.627 0-12 5.373-12 12 0 5.302 3.438 9.8 8.205 11.387.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.044-3.338.725-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.756-1.333-1.756-1.088-.745.083-.73.083-.73 1.205.085 1.838 1.236 1.838 1.236 1.07 1.838 2.809 1.305 3.495.998.108-.776.419-1.305.763-1.605-2.665-.302-5.466-1.332-5.466-5.93 0-1.31.465-2.383 1.236-3.222-.124-.303-.536-1.523.116-3.176 0 0 1.008-.323 3.3 1.23.958-.267 1.98-.4 3-.405 1.02.005 2.042.138 3 .405 2.292-1.553 3.3-1.23 3.3-1.23.652 1.653.24 2.873.12 3.176.765.84 1.23 1.913 1.23 3.222 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.216 0 1.6-.015 2.886-.015 3.276 0 .315.21.688.825.576 4.762-1.585 8.195-6.085 8.195-11.387 0-6.627-5.373-12-12-12z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="grid">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 1</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 2</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 3</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 4</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 5</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 6</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 7</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 8</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card 9</h3>
          </div>
          <div class="card-body">
            <p>Content goes here...</p>
          </div>
        </div>
      </div>
      
  </div>
  

</body>
</html>